.search {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    height: 48px;
    border: 1px solid #E8E8E8;
    border-radius: 68px;
}

.input {
    border: none;
    width: 80%;
    height: 80%;
    outline: none;
}

.icon {
    background-image: url(/src/shared/assets/icons/search.svg);
    width: 24px;
    height: 20px;
    background-repeat: no-repeat;
    margin-left: 16px;
}