.header {
  display: flex;
  width: 100%;
  background-color: #FFFFFF;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 112px;
  margin-bottom: 40px;
  border-radius: 12px;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 20px
}

.link {
  font-weight: 600;
  font-style: Medium;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #191919;
  white-space: nowrap;
  text-decoration: none;
}

.btn {
  height: 40px;
  background-color: #6A0BFF;
  color: white;
  padding: 0 12px;
  border: none;
  border-radius: 12px;
}
.in {
  background-color:  #FFFFFF;
  color: #6a0bff;
}
