.container {
    margin: 0 auto;
	/* padding: 0 112px; */
    padding: 0 clamp(6px, 3vw, 112px);
    height: 100%;
    max-width: 1440px;
}

.base {
  background-color: #F4F4F4;
  width: 100%;
  height: 100%;
}