.keywords {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.wrapper {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.keyword {
    color: #6A0BFF;
}

.title {
  font-family: Manrope;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #474747;
}