.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.content {
	text-align: center;
	max-width: 500px;
}

.title {
	color: black;
	margin-bottom: 40px;
}

.actions {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 8px;
}

.goToMain {
	padding: 12px;
	border-radius: 8px;
}
