.wrapper {
  display: flex;
  width: 100%;
  padding: 24px;
  background-color: #ffff;
  border-radius: 24px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  padding-left: 0;
  margin-bottom: 40px;
}

.text {
  font-family: Manrope;
  font-weight: 500;
  font-style: Medium;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #191919;
  margin-bottom: 24px;
  padding-bottom: 14px;
  border-bottom: 1px solid #e8e8e8;
}

.content {
  width: 100%;
}

