.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f6f6f6;
  gap: 24px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.wrapper {
  background-color: #ffff;
  display: flex;
  padding: 24px;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  border-radius: 24px;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.brief {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.title {
  font-family: Manrope;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #303030;
}

.description,
.shortAnswer,
.longAnswer {
  font-family: Manrope;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  color: #303030;
}
