.skills {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.btn {
  font-family: Manrope;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
  border: 1px solid #6a0bff;
  padding: 10px 12px 10px 12px;
  border-radius: 16px;
  background-color: #ffff;
}

.btn:hover {
  background-color: #f3f3f3;
}

.btns {
  display: flex;
  gap: 8px;
}

.title {
  font-family: Manrope;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #474747;
}
