@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}

.skeletonWrapper {
  display: flex;
  padding: 24px;
  background-color: #ffff;
  width: 100%;
}
.content {
  width: 100%;
}

.listSkeleton {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  padding-left: 0;
  margin-bottom: 40px;
}
.itemSkeleton {
  width: 100%;
  height: 50px;
}

.skeletonPulse {
  background: linear-gradient(-90deg, #f0f0f0 0%, #f8f8f8 50%, #f0f0f0 100%);
  animation: pulse 1.5s ease-in-out infinite;
}
