* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
}

.container {
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
