.rating {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0%;
  vertical-align: middle;
}


.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}
.btn {
  border: 1px solid #bababa;
  padding: 10px 12px;
  border-radius: 12px;
  background-color: #FFFFFF;
  cursor: pointer;

  /* text styles btn */

  font-family: Manrope;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
}

.btn:hover {
  background-color: #f6f6f6;
}

.selected {
  border: 1px solid #6A0BFF;
}