.filters {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* max-width: 392px; */
    height: fit-content;
    gap: 24px;
    padding: 24px;
    background-color: #FFFFFF;
    border-radius: 24px;
}


