.detail {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 24px;
    background-color: #F6f6f6;
    max-width: 1220px;
}
.wrapper {
    display: flex;
    width: 100%;
    gap: 20px;
}

.link {
    cursor: pointer;
    display: flex;
    gap: 8px;
}
